:root {
	--primary: #0077FF;
	--secondary: #9B00FF;
	--offwhite: #FAFAFA;
	--darkwhite: #ECECEC;
	--lightgrey: #CCC;
	--grey: #888;
	--darkgrey: #444;
	--offblack: #0F0F0F;
	--green: #2FBF71;
	--red: #FF3E41;
}
