.flex {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
}

.flex .box {
	background-color: rgba(255,255,255,0.9);
	padding: 10px;
	width: 100%;
	border-radius: 10px;
	margin-top: 10px;
}

@media (min-width: 710px) {
	.flex .box {
		max-width: calc(50% - 25px);
	}
	.flex .box:nth-of-type(2n) {
		margin-left: 10px;
	}
}