footer {
	width: 100%;
	display: flex;
	justify-content: center;
	border-top: 1px solid var(--color-bg-dark);
}

footer > div {
	width: 100%;
	padding: 10px;
}

footer ul {
	list-style: none;
	padding: 0;
}

footer ul li {
	margin: 5px 0;
}

footer ul li a {
	padding: 10px 0;
}

footer h3 {
	color: var(--color-grey);
}

@media (min-width: 720px) {
	footer > div {
		max-width: 700px;
		display: flex;
		justify-content: space-between;
		padding: 0;
	}

	footer section {
		align-self: flex-start;
	}
}