.hero {
	width: 100%;
	margin: 50px 0;
}

.hero.colorful {
	background: linear-gradient(135deg, var(--primary), var(--secondary) 50%)
}

.hero .box {
	margin: 50px auto;
	max-width: 300px;
}

.hero .box .bg {
	background-color: var(--offwhite);
	padding: 20px;
	border-radius: 10px;
}

@media (min-width: 600px) {
	.hero .flex {
		flex-wrap: nowrap;
	}

	.hero .box {
		max-width: 450px;
	}

	.hero .reveal.bg {
		margin-left: 10px;
	}
}