a {
	text-decoration: none;
	color: var(--offblack);
	display: inline-block;
	background-color: var(--darkwhite);
	padding: 2px 4px;
}

a:not(.no-hover)::after {
	content: '';
	display: block;
	width: 0;
	height: 1px;
	background: var(--primary);
	transition: width 300ms;
}

a:not(.no-hover):hover::after {
	width: 100%;
}

a.cta {
	padding: 20px 50px;
	border-radius: 5px;
	border: solid 1px var(--primary);
	font-size: 1.2rem;
	transition: all 300ms;
	background-color: transparent;
}

a.cta:hover {
	background-color: var(--darkwhite);
	border-color: var(--secondary)
}
