a, .link {
	text-decoration: none;
	color: var(--color-text);
	user-select: none;
}

a:not(.no-hover),
.link {
	display: inline-block;
}

a:not(.no-hover)::after, 
.link::after {
	content: '';
	display: block;
	width: 0;
	height: 1px;
	background: var(--color-primary);
	transition: width 300ms;
}

a:not(.no-hover):hover::after,
.link:hover::after {
	width: 100%;
}

a.cta {
	display: inline-block;
	padding: 20px;
	border-radius: 5px;
	background-color: var(--color-dark);
	color: var(--color-light);
	font-size: 1.2rem;
	transition: filter 300ms ease-in-out;
}

a.cta:hover {
	filter: brightness(2);
}
