a.list-item {
	transition: all 300ms ease-in-out;
	display: block;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: transparent;
}

a.list-item:hover {
	background-color: var(--darkwhite);
}
