{{ define "main" }}
<article>
	<section class="limit-width">
		<h1>{{ .Params.title }}</h1>
		<h2>{{ .Params.subtitle }}</h2>
	</section>
	<section class="limit-width">
		<h3>{{ .Params.intro }}</h3>
		<p>{{ .Params.description }}</p>
		<div class="flex center-x">
			<a href="https://app.npchat.org/" target="_blank" rel="noopener" class="cta no-hover">
				{{ .Params.cta }}
			</a>
		</div>
	</section>
	<section class="hero">
		<div class="limit-width">
			<div class="reveal-container">
				{{ range $i, $f := .Params.features }}
				{{ $c1 := ""}}
				{{ $c2 := ""}}
				{{ if not (modBool $i 2) }}
					{{ $c1 = "from-right" }}
					{{ $c2 = "from-left" }}
				{{ else }}
					{{ $c1 = "from-left" }}
					{{ $c2 = "from-right" }}
				{{ end }}
				<div class="flex center-x center-y box">
					<span class="emojicon reveal {{ $c1 }}">{{$f.icon}}</span>
					<div class="bg reveal {{ $c2 }}">
						<h3>{{ $f.title }}</h3>
						<p>{{ $f.description }}</p>
					</div>
				</div>
				{{ end }}
			</div>
		</div>
	</section>
</article>
{{ end }}
